.thumbnail img {
    width:100%;
}

.thumbnail{
    padding:0;
}

.thumbnail .caption-full {
    padding:9px;
}

.delete-form{
    display:inline;
}

.delete-button{
    margin:3px;
}

#map{
    height: 400px;
    width: 100%;
}

.campstay{
    
    background-color:#000;
    font-size:20px;
}

.campstay:hover{
    box-shadow:0px 5px 5px 0px #ddd;
    transition: box-shadow 1s linear;
}

.logo{
    font-size:20px;
    color:#fff;
}